xtrex/target/classes/aprogrammerisneverlate/**
xtrex/.settings/org.eclipse.m2e.core.prefs
xtrex/.classpath
xtrex/.project
xtrex/.settings/org.eclipse.core.resources.prefs
xtrex/.settings/org.eclipse.jdt.core.prefs
.vscode/tasks.json

*.class
